langchain
streamlit
transformers
torch
einops
bitsandbytes
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
chromadb==0.3.29
beautifulsoup4
sentencepiece
six
requests
uvicorn
torchvision
streamlit-chat
numpy 
langchain_community